
	<div class="footer-mobile-container">
    	
        <div class="footer-mobile-bottom" align="center">
	        <span align="left" class="logo-fti-mobile">
	        	<a href="http://untar.ac.id/fti/"><img class="preload-me retinized" width="113" height="43" alt="UNTAR" src="../img/logofti.png"></a>  
	        </span>
	        <span class = "footer-mobile-word">
	        	©2016 UNTAR Entrepreneur Week 
	        </span>
	        <br/>
	        <span>
	        	<a href="#">Profile Web Developer.</a>
	        </span>
        </div>
    </div>
