
	<div class="footer">
    	
        <div class="footer-bottom" align="center">
	        <span align="left" class="logo-fti">
	        	<a href="http://untar.ac.id/fti/"><img class="preload-me retinized" width="113" height="43" alt="UNTAR" src="../img/logofti.png"></a>  
	        </span>
	        <span class = "footer-word">
	        	©2016 UNTAR Entrepreneur Week | Web Development By 535130019-Martha Gunawan, 535130061-Vinesia Subyanca, 535130084-Leonardo Cahaya. 
	        </span>
        </div>
    </div>
